<h3 class="title">
  Is it a Angular Performance issue?
</h3>

<p class="content">
  Click the 'Click Me' button a text (dummy text) will be added with red background color.
</p>

<p class="content">
  Click the 'Pay with Razorpay' button, their popup will open and once you finish the transaction. Control will be given to us, inside that control handler trying to bind a text (Razorpay Response) with red background color. That box is rendered with Background red color without the text.
</p>

<button (click)="proceed()">Pay With Razorpay</button>

<button (click)="test()">Click Me</button>

<div class="novopay-response-modal modal fade" role="dialog"     [ngClass]="{'show': showModal}"
  id="response-modal"
	[ngStyle]="{'display': 'none'}">
    {{response}}
	</div>

<div class="novopay-response-modal modal fade" role="dialog"     [ngClass]="{'show': showModal}"
  id="razorpay-response"
	[ngStyle]="{'display': 'none'}">
    {{razorpayResponse}}
	</div>
